@import "./global.css";
@import "./header.css";
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c4c4c4;
    padding: 40px 20px;
}
.section-content{
    margin-top: 20px;
    display: grid;
    gap: 20px;
}
.section-titulo{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #141414;
}
.section-content-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    max-width: 1200px;

}
.section-content-item:hover{
    box-shadow: 2px 2px 4px 4px rgba(16, 16, 16, 0.42);
}
.section-content-item::before{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    top: 25px;
    left: -4px;
}
.section-content-item-imagem{
    grid-column: 1;
}
.data{
    position: absolute;
    top: 25px;
    left: -120px;
    font-weight: bold;
    color: #525252;
}